{% extends "main/index.html" %}

{% block title %}Главная{% endblock %}
{% block content %} 
<div class="container mt-4">
    <h1 class="text-center">Добро пожаловать на сайт "Расширенный Калькулятор NPK"</h1>
    
    <h3>Основные функции сайта:</h3>
    <ul>
        <li><strong>Расчёт профиля питания</strong></li>
        <li><strong>Калькулятор удобрений</strong></li>
    </ul>
    <p>Обе вкладки находятся в верхней части сайта.</p>
    
    <hr>
    
    <h3>Регистрация и авторизация</h3>
    <p>
        Если вы впервые зашли на сайт или ещё не авторизовались, в правом верхнем углу увидите кнопки <button class="btn btn-outline-success btn-sm">Вход</button> и <button class="btn btn-success btn-sm">Регистрация</button>.
    </p>
    <p>
        В случае если у вас уже <strong>есть аккаунт</strong>, то вы можете зайти в него, введя свой логин и пароль в форме по кнопке <button class="btn btn-outline-success btn-sm">Вход</button>. <br>
        Если же у вас ещё <strong>нет аккаунта</strong>, то вы можете зарегистрироваться, введя логин, пароль и подтвердив пароль в форме по кнопке <button class="btn btn-success btn-sm">Регистрация</button>. <br>
        <strong>Авторизация</strong> нужна, чтобы вы могли работать с своими добавленными удобрениями и профилями питания, но и для неавторизованных пользователей доступен базовый набор удобрений и профилей питания. В своём профиле, в который можно перейти по кнопке <button class="btn btn-success btn-sm">Просмотреть профиль</button>, вы можете добавлять, удалять и изменять свои удобрения и профили питания. Разлогиниться можно по кнопке <button class="btn btn-danger btn-sm" style="color: white;">Выйти</button>.
    </p>
    
    <hr>
    
    <h3>Расчёт профиля питания</h3>
    <p>
        Если вы только начинаете работать с гидропоникой, <strong>калькулятор "Расчёт профиля питания" вам не нужен</strong>.
        В нём более продвинутые пользователи могут рассчитать интересующий их макропрофиль питания, 
        меняя соотношения и количества элементов.
    </p>
    <p>
        <strong>При изменении количества элементов</strong> будут меняться соотношения.
        <br>
        <strong>При изменении соотношения</strong> элемент из строки сохранит своё значение, 
        а другие элементы изменятся так, чтобы сохранить остальные соотношения прежними.
    </p>
    
    <hr>
    
    <h3>Калькулятор удобрений</h3>
    <p>
        <strong>Калькулятор удобрений - верный помощник</strong> в начале освоения гидропоники.
    </p>
    <p>
        Вы выбираете нужные удобрения, профиль питания и объём воды для раствора.<br>
        Для удобства при выборе есть поисковые строки: когда вы начинаете вводить символы, автоматически будут оставаться удобрения или профили питания с содержащими эти символы названиями. Вы можете также выбирать стадию роста для профилей питания.<br>
        Также рядом с удобрениями указан их состав, а чтобы узнать состав профиля питания нужно <strong>навести на его название мышкой</strong>.
    </p>
    
    <p>
        Если нужного удобрения или профиля питания нет, авторизуйтесь и добавьте его в профиль – оно появится в калькуляторе.
    </p>
    
    <p>
        После выбора нажмите <button class="btn btn-success btn-sm">Рассчитать</button>.
        Вы получите:
    </p>
    <ul>
        <li>Список удобрений с необходимыми дозировками (левая таблица)</li>
        <li>Список недостающих элементов (правая таблица)</li>
    </ul>
    <p>На маленькие или отрицательные значения можно не обращать внимания, ими можно принебречь, хотя для точного ответа они оставлены. Остальные же элементы вы можете добрать, выбрав другой набор удобрений, или же с помощью односоставных удобрений, состоящих из одной соли.</p>
    
    <hr>
    
    <h3>Как использовать дозировки</h3>
    <p>
        После расчёта дозировок правильно размешайте удобрения,
        пользуясь двухкомпонентным раствором.
    </p>
    <p>
        Подробнее о приготовлении растворов можно узнать в интернете.
    </p>
    
    <hr>
    
    <h3 class="text-success">Надеюсь, этот сайт поможет в вашей работе с гидропоникой!</h3>
</div>
{% endblock %}