{% extends "main/index.html" %}

{% block title %}Login{% endblock %}
{% block content %}{% if error %}
<div class="alert alert-danger w-75 mx-auto mt-3" role="alert">
    {{ error }}
</div>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="usrnm" class="form-label">Логин:</label>
        <input name="username" type="text" class="form-control" id="usrnm" placeholder="Введите логин">
    </div>
    <div class="mb-3">
        <label for="psw" class="form-label">Пароль:</label>
        <input name="password" type="password" class="form-control" id="psw" placeholder="Введите пароль">
    </div>
    <button type="submit" class="btn btn-primary px-4">Войти</button>
</form>{% endblock %}