{% extends "main/index.html" %}

{% block title %}Загрузка файла{% endblock %}
{% block content %}{% if error %}
<div class="alert alert-danger w-75 mx-auto mt-3" role="alert">
    {{ error }}
</div>
{% endif %}
<div class="container py-5">
    <h2 class="text-success">Загрузите файл</h2>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Загрузить</button>
        <a href="{% url cancel %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}